.cursiva {
	text-align: right;
	font-style: italic;
}

.mayuscula {
	text-transform: uppercase;
	text-decoration: line-through;
}
.grande {
	font-family: "Times New Roman", sans-serif;
	font-size: 20pt;

}
.negrita {
	font-weight: bold;
	text-shadow: -4px 3px 5px green;
}
.buscadores {
	background: #C9F59D;
	width: 400px;
	height: 200px;
	border-radius: 15px 15px 15px 15px;
	display: inline-block;
	display: flex;
}
.redes {
	background: #9DF5F3;
	width: 400px;
	height: 200px;
	border-radius: 15px 15px 15px 15px;
	
}
.noticias {
	background: #F59DCC;
	width: 400px;
	height: 200px;
	border-radius: 15px 15px 15px 15px;	
}
.subititulo {
	font-weight: bold;
}
.contenedor {
	display: flex;
}
.rojo {
	background: red;
	width: 110px;
	height: 50px;
}
.azul {
	background: blue;
	width: 110px;
	height: 50px;
}
.verde {
	background: green;
	width: 110px;
	height: 50px;
}
a{
	color: white;

}